{% extends "base.html" %}

{% block title %}Show Balance{% endblock %}

{% block body %}


<div class="container">

	<div class="row justify-content-md-center mt-3">
		<div class="col-sm-12 col-md-6 col-lg-12 text-center formstyle">
			<h2 style="text-align: center;">Bilans</h2>
			<div class="period navbar d-sm-flex justify-content-center" >
				<div class="p-2 float-start">
					<a class="btn btn-primary" href="/balance/show?option=1">Bieżący miesiąc</a>
				</div>
				<div class="p-2 float-start">
					<a class="btn btn-primary" href="/balance/show?option=2">Poprzedni miesiąc</a>
				</div>
				<div class="p-2 float-start" >
					<a class="btn btn-primary" href="/balance/show?option=3">Bieżący rok</a>
				</div>
				<div class="p-2 float-start">
					<a class="btn btn-primary" href="#myModal" data-bs-toggle="modal" >Niestandardowy</a>	
				</div>
				<div style="clear:both;"></div>
				</div>

				<div style="clear:both;"></div>
				
				<div class="col-12 col-lg-6 mt-3 p-1 text-center leftPanel">
				{% if incomesGenerally is not empty %}
					<div>PRZYCHODY</div>
							<table class="text-center">
								<tr>
									<th>Kategoria</th>
									<th>Data</th>
									<th>Kwota</th>
								</tr>
								{% for income in incomesGenerally %}
								<tr>
									<td>{{ income[1] }}</td>
									<td>{{ income[2] }}</td>
									<td>{{ income[0] }} PLN</td>
								</tr>
								{% endfor %} 
							</table>
							{% else %}
							BRAK PRZYCHODÓW
							{% endif %}
						

				</div>
				

				<div class="col-12 col-lg-6 mt-3 p-1 text-center rightPanel">
				{% if expensesGenerally is not empty %}
					<div>WYDATKI</div>
							<table class="text-center">
								<tr>
									<th>Kategoria</th>
									<th>Data</th>
									<th>Kwota</th>
								</tr>
								{% for expense in expensesGenerally %}
								<tr>
									<td>{{ expense[0] }}</td>
									<td>{{ expense[2] }}</td>
									<td>{{ expense[1] }} PLN</td>
								</tr>
								{% endfor %}
							</table> 
							{% else %}
							BRAK WYDATKÓW
							{% endif %}

				</div>
				
				<div style="clear:both;"></div>
				{% if incomesPieChart or expensesPieChart is not empty %}
				<div class="mt-3 mb-3" style="background-color: gray; border-radius: 5px;">
								<div class="col-12 col-lg-6 mt-3 p-1 text-center leftPanel">
								{% if incomesSum %}
								SUMA PRZYCHODÓW:
								{{ incomesSum }} ZŁ
								{% else %}
								{% endif %}
								
								{% if incomesPieChart is not empty %}
								<div>
									<div id="piechartIncome"></div>
								</div>
								{% endif %}
								</div>
								
								<div class="col-12 col-lg-6 mt-3 p-1 text-center rightPanel">
								{% if expensesSum %}
								SUMA WYDATKÓW:
								{{ expensesSum }} ZŁ
								{% else %}
								{% endif %}
								
								{% if expensesPieChart is not empty %}
								
								<div>
									<div id="piechartExpense"></div> 				
								</div>
								{% endif %}
								</div>
								
				<div style="clear:both;"></div>
				
				</div>
				{{ balanceSentence }}
				{% else %}
				{% endif %}

				<div class="col-12">

				<a href="/" class="btn cancelButtonbg mt-4 mb-2">WRÓĆ</a>

				</div>
		</div>
	</div>
</div>

<div class="modal fade text-body" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Wybierz przedział czasowy</h4>
			<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
		</div>
			<form method="post" action="/balance/show" >
				<div class="modal-body text-center mt-3 mb-3">
					<div id="selectPeriod">	
						od <input type="date" name="dateBegin" id="dateBegin">
						do <input type="date" name="dateEnd" id="dateEnd">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Anuluj</button>
					<button type="submit" class="btn btn-primary" >Pokaż</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type = "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
	<script type = "text/javascript">

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

			function drawChart() {

				var dataIncome = google.visualization.arrayToDataTable([
					['Task', 'Cost'],
					{% for income in incomesPieChart %}							
					[ ' {{income.name}} ', {{ income.3 }} ],							
					{% endfor %}
				]);

				var dataExpense = google.visualization.arrayToDataTable([
					['Task', 'Cost'],
					{% for expense in expensesPieChart %}
					[ ' {{expense.name}} ', {{ expense.3 }} ],
					{% endfor %}
				]);

				var optionsIncome = {
					legend: {position: 'right', textStyle: {color: 'white'}},
					backgroundColor:'transparent', 
					pieSliceBorderColor: '#bfbfbf',
					width: 'auto',
					height: 'auto'
				};

				var optionsExpense = {
					legend: {position: 'right', textStyle: {color: 'white'}},
					backgroundColor:'transparent', 
					pieSliceBorderColor: '#bfbfbf',
					width: 'auto',
					height: 'auto'
				};
				  
				  
				var chartIncome = new google.visualization.PieChart(document.getElementById('piechartIncome'));
					chartIncome.draw(dataIncome, optionsIncome);

				var chartExpense = new google.visualization.PieChart(document.getElementById('piechartExpense'));
					chartExpense.draw(dataExpense, optionsExpense);
			}
	
	</script>


{% endblock %}