{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-md-center mt-3">
			<div class="col-sm-3 col-md-6 col-lg-3 text-center formstyle">

				<h2>ZMIEŃ HASŁO</h2>
				
					<form action="/settings/createPassword" method="post">
						<div>
							<label for="inputPassword">Hasło</label>
							<input class="mb-3 form-control" type="password" id="inputPassword" name="password" placeholder="Hasło" autofocus required />
						</div>
						<div>
							<label for="inputPasswordConfirmation">Powtórz hasło</label>
							<input class="mb-3 form-control" type="password" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Powtórz hasło" autofocus required />
						</div>
						<div>
						<button class ="btn buttonbg mt-3" type="submit">WYŚLIJ</button>
						</div>
					</form>
				
						<div class="mt-3">
							<a href="/settings/edit" class="btn cancelButtonbg mb-2">WRÓĆ</a>
						</div>
						
					{% if editPassword.errors is not empty %}
						{% for error in editPassword.errors %}
							<div class='error mt-2'>
								{{ error }}
							</div>
						{% endfor %}
					{% endif %}
			</div>
		</div>
	</div>
	
{% endblock %}
